<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899688869001-md18ieqt57t4rjh19nkvke7sj1mhn677.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899688869001-md18ieqt57t4rjh19nkvke7sj1mhn677</string>
	<key>API_KEY</key>
	<string>AIzaSyByBFLbnLYM3LAG2g80qCQF3dAknnVxsl0</string>
	<key>GCM_SENDER_ID</key>
	<string>899688869001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hapsync</string>
	<key>PROJECT_ID</key>
	<string>hapsyncchat-2a99f</string>
	<key>STORAGE_BUCKET</key>
	<string>hapsyncchat-2a99f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899688869001:ios:ab59aabdf9eb7c9914ea58</string>
</dict>
</plist>